<!-- edited here --------------------------------------------------------------------------------------------------------------------->
<html>
  <form class="k-form" (ngSubmit)="myFunc(inputText)">

    <input type="text" [(ngModel)]="inputText" name="inputText"  placeholder="inputText">
    
  </form>
  <!-- <input id="inputText" type="text">
  <button (click)="myFunc({inputText})">send to database</button> -->
  <li *ngFor="let item of message;">
    {{item.stringValue}}
  </li>
</html>
<!-- <h1>{{ this.message }}</h1> -->
      